/volumes
/jenkins/.vagrant
/jenkins/jenkins_home
/kubernetes/.vagrant

*~
\#*
*\#
/kubernetes/creds
!/kubernetes/creds/openssl.conf
!/kubernetes/creds/bootstrap-creds.sh
/kubernetes/control-plane/binaries
/kubernetes/node/binaries