/volumes
/jenkins/.vagrant
/jenkins/jenkins_home
/kubernetes/.vagrant

*~
\#*
*\#

/kubernetes/creds/*
!/kubernetes/creds/*.conf
!/kubernetes/creds/*.sh
!/kubernetes/creds/*.py
!/kubernetes/creds/*.json

/kubernetes/control-plane/binaries
/kubernetes/node/binaries